In [1]:
#2-24
print('Member{0:7s},discount{1:3.2f}'.format('Karen',0.35))
print('Member{0:7s},discount{1:3.2f}'.format('Sammy',0.4))
print('Member{0:7s},discount{1:3.2f}'.format('JoJo',0.42))

MemberKaren  ,discount0.35
MemberSammy  ,discount0.40
MemberJoJo   ,discount0.42

In [2]:
#2-24
print('%20s %-20s'%('tall','short'))
print('%20s %-20s'%('strong','weak'))
print('%20s %-20s'%('thick','thin'))

                tall short
              strong weak
               thick thin

In [3]:
#2-24
print('%20s %-20s'%("Apple\'s Products:",'iphone'))
print('%20s %-20s'%('','iMac'))
print('%20s %-20s'%('','Apple Watch'))
print('%20s %-20s'%('','...'))

   Apple's Products: iphone
                     iMac
                     Apple Watch
                     ...

In [4]:
#2-24
print('%-15s %7s'%('City','Celsius'))
print('%-15s %7.2f'%('Taipei',33.2))
print('%-15s %7.2f'%('Yilan',32.93))
print('%-15s %7.2f'%('MiaoLi',32.29))
print('%-15s %7.2f'%('Taichung',32.48))
print('%-15s %7.2f'%('HuaLian',33.87))

City            Celsius
Taipei            33.20
Yilan             32.93
MiaoLi            32.29
Taichung          32.48
HuaLian           33.87

In [5]:
#2-25
print('|%6d %6d %6d %6d|'%(22,44,66,88))
print('|%-6d %-6d %-6d %-6d|'%(33,55,77,99))
print('|%6d %6d %6d %6d|'%(222,444,666,888))
print('|%-6d %-6d %-6d %-6d|'%(333,555,777,999))

|    22     44     66     88|
|33     55     77     99    |
|   222    444    666    888|
|333    555    777    999   |

In [6]:
#2-25
print('---------')
print('Learning Python now \nPython is fun')
print('---------')

---------
Learning Python now
Python is fun
---------

In [7]:
#2-25
print('|%10d %9d %9d|'%(12345,12,1234567))
print('Radius:{a:3d},Area:{x:10.2f}'.format(a=5,x=5*3.14159))
print('{0:10.2f}'.format(123.456))
print('%15d %10.2f'%(1,43400.2))
print('x={a:5d},y={b:7d}'.format(a=123,b=12345))

|     12345        12   1234567|
Radius:  5,Area:     15.71
    123.46
              1   43400.20
x=  123,y=  12345

In [8]:
#2-26
print('Using format')
print(format(123.456,'<11.2f'),format(45.678,'6.2f'))
print(format(123456.79,'<11.2f'),format(78901.234,'6.2f'))
print('\n')
print('Using .format')
print('{0:<11.2f},{1:6.2f}'.format(123.456,45.678))
print('{0:<11.2f},{1:6.2f}'.format(123456.79,78901.234))
print('\n')
print('Using %')
print('%-11.2f%-6.2f'%(123.456,45.678))
print('%-11.2f%-6.2f'%(123456.79,78901.234))

Using format
123.46       45.68
123456.79   78901.23


Using .format
123.46     , 45.68
123456.79  ,78901.23


Using %
123.46     45.68
123456.79  78901.23

In [9]:
#3-29
a=eval(input('Enter height:'))
b=eval(input('Enter weight:'))
print('Height=%5.2f'%(a))
print('Weight=%5.2f'%(b))
print('Perimeter=%5.2f'%(a*2+b*2))
print('Area=%6.2f'%(a*b))

Enter height:3
Enter weight:4
Height= 3.00
Weight= 4.00
Perimeter=14.00
Area= 12.00

In [10]:
#3-29
total_length=eval(input())
single_length=total_length/3
height=single_length*(3**0.5)/2
area=single_length**2*(3**0.5)/4
print('Area=%.3f,Height=%.3f'%(area,height))

3
Area=0.433,Height=0.866

In [11]:
#3-29
x=eval(input('x(min)='))
y=eval(input('y(sec)='))
z=eval(input('z(km)='))
print('Speed=%.1f miles/hour'%(z/1.6/(x/60+y/3600)))

x(min)=4
y(sec)=5
z(km)=1
Speed=9.2 miles/hour

In [12]:
#3-30
x=eval(input('x(miles)='))
print('Km=%.2f'%(x/1.6))

x(miles)=3
Km=1.88

In [13]:
#3-30
x=eval(input('x(F)='))
print('C=%2f'%((x-32)*5/9))

x(F)=65
C=18.333333

In [15]:
#3-30
x=eval(input('x='))
y=eval(input('y='))
z=eval(input('z='))
print('total=%2d'%(x+y+z))
print('average=%.4f'%((x+y+z)/3))

x=3
y=4
z=6
total=13
average=4.3333

In [16]:
#3-30
x=str(input('姓名='))
y=eval(input('學號='))
z=str(input('地址='))
print(x)
print(int(y))
print(z)

姓名=annie
學號=109230098
地址=annie1003
annie
109230098
annie1003

In [17]:
#3-30
import math
x=int(input('radius='))
area=x**2*(math.pi)
perimeter=x*2*(math.pi)
print('area=%5f'%(x*x*(math.pi)))
print('perimeter=%.5f'%(x*2*(math.pi)))

radius=5
area=78.539816
perimeter=31.41593

In [18]:
#3-30
x=int(input('long='))
y=int(input('short='))
area=x*y
perimeter=(x+y)*2
print('area=%d'%(x*y))
print('perimeter=%d'%((x+y)*2))

long=6
short=4
area=24
perimeter=20

In [19]:
#3-30
x=eval(input('x='))
y=eval(input('y='))
print('(3+4*x)/5-10*(y-5)*(x+y+5)/x+9*(4/x+(9+x)/y=%.2f'%((3+4*x)/5-10*(y-5)*(x+y+5)/x+9*(4/x+(9+x)/y)))

x=5
y=3
(3+4*x)/5-10*(y-5)*(x+y+5)/x+9*(4/x+(9+x)/y=105.80

In [20]:
#3-30
a=eval(input('a='))
b=eval(input('b='))
c=eval(input('c='))
print('4/(3*(a+34))-9*(a+b*c)+(3+3*(2+a))/(a+3*b)=%.2f'%(4/(3*(a+34))-9*(a+b*c)+(3+3*(2+a))/(a+3*b)))

a=2
b=5
c=4
4/(3*(a+34))-9*(a+b*c)+(3+3*(2+a))/(a+3*b)=-197.08

In [21]:
#4-18
import math as mh
n=eval(input('n='))
s=eval(input('s='))
print('area=(n*s**2)/(4*tan(pi/n))=%.14f'%((n*s**2)/(4*mh.tan(mh.pi/n))))

n=2
s=5
area=(n*s**2)/(4*tan(pi/n))=0.00000000000000

In [22]:
#4-18
x1=eval(input('x1='))
x2=eval(input('x2='))
y1=eval(input('y1='))
y2=eval(input('y2='))
print('((x1-x2)**2+(y1-y2)**2)**0.5=%.15f'%(((x1-x2)**2+(y1-y2)**2)**0.5))

x1=3
x2=5
y1=6
y2=7
((x1-x2)**2+(y1-y2)**2)**0.5=2.236067977499790

In [23]:
#4-19
a=eval(input('a='))
b=eval(input('b='))
c=eval(input('c='))
s=(a+b+c)/2
print('area=(s*(s-a)*(s-b)*(s-c))**0.5=%.f'%((s*(s-a)*(s-b)*(s-c))**0.5))

a=2
b=4
c=5
area=(s*(s-a)*(s-b)*(s-c))**0.5=4

In [30]:
#4-19
a=eval(input('a:'))
b=eval(input('b:'))
c=eval(input('c:'))
D=b**2-4*a*c
print("solution1:%.2f"%(((-1)*b+D**0.5)/(2*a)))
print("solution2:%.2f"%(((-1)*b-D**0.5)/(2*a)))

a:2
b:8
c:3
solution1:-0.42
solution2:-3.58

In [31]:
#4-19
import math
x1,y1=input('請輸入緯度1,經度1:').split(",")
x2,y2=input('請輸入緯度2,經度2:').split(",")
d=6371.01*math.acos(math.sin(eval(x1))*math.sin(eval(x2))+math.cos(eval(x1))*math.cos(eval(x2))*math.cos(eval(y1)-eval(y2)))
print(d)
print(x1,y1)
print(x2,y2)

請輸入緯度1,經度1:39.55,-116.24
請輸入緯度2,經度2:41.5,87.37
15604.932312486775
39.55 -116.24
41.5 87.37

In [50]:
#6-54
total=0 
for i in range(0,49): 
    a=(1+i,2) 
    b=(3+i,2) 
    c=a/b
    total+=c 
    print('%d/%d'%(a,b)) 
print('%.3f'%(total))

TypeError: unsupported operand type(s) for /: 'tuple' and 'tuple'

# 6-54
total=0
for i in range(0,49):
    a=(1+i*2)
    b=(3+i*2)
    c=a/b
    total+=c
    print('%d/%d'%(a,b))
print('%.3f'%(total))

In [51]:
#6-54
#utf-8
import pandas as pd
total_salary=0
number_of_staff=eval(input('幾位員工?'))
staff_salary={}
for i in range(number_of_staff):
    sales_number=eval(input('第%d位員工的銷售量'%(i+1)))
    if sales_number>=15000:
        bonus_rate=0.16
    elif sales_number>=10000:
        bonus_rate=0.14
    elif sales_number>=5000:
        bonus_rate=0.12
    else:
        bonus_rate=0.1
    total_salary+=6000+bonus_rate*sales_number
    staff_salary['第%d位員工'%(i)]='%d'%(6000+bonus_rate*sales_number)+'=6000+%.2f*%d'%(bonus_rate,sales_number)
df = pd.DataFrame(list(staff_salary.items()),columns = ['員工編號','薪水'])
print('%d'%(total_salary))
print(df)

幾位員工?6
第1位員工的銷售量1
第2位員工的銷售量3999
第3位員工的銷售量56666
第4位員工的銷售量44444
第5位員工的銷售量333
第6位員工的銷售量2345
52845
    員工編號                     薪水
0  第0位員工       6000=6000+0.10*1
1  第1位員工    6399=6000+0.10*3999
2  第2位員工  15066=6000+0.16*56666
3  第3位員工  13111=6000+0.16*44444
4  第4位員工     6033=6000+0.10*333
5  第5位員工    6234=6000+0.10*2345

In [52]:
#6-54
result_left_to_right=0
result_right_to_left=0
true_total=0
n=6000
for i in range(1,n+1):
    if 1/i > result_left_to_right*0.0001:
        result_left_to_right+=1/i
    else:
        pass
    if 1/(n-i+1) > result_right_to_left*0.0001:
        result_right_to_left+=1/(n-i+1)
    else:
        pass
    true_total+=1/i
print('result from the left:%.4f\nresult from the right:%.4f'%(result_left_to_right,result_right_to_left))
print('real result:%.4f'%(true_total))

result from the left:7.7408
result from the right:9.2768
real result:9.2768

In [53]:
#6-55
sum=0
n=201-3+1
for i in range(1,n+1):
    sum+=1/((1+i)**0.5+(2+i)**0.5)*(-1)**(i+1)
    print('%d*1/((%d)^0.5+(%d)^0.5)'%((-1)**(i+1),1+i,2+i))
print (sum)

1*1/((2)^0.5+(3)^0.5)
-1*1/((3)^0.5+(4)^0.5)
1*1/((4)^0.5+(5)^0.5)
-1*1/((5)^0.5+(6)^0.5)
1*1/((6)^0.5+(7)^0.5)
-1*1/((7)^0.5+(8)^0.5)
1*1/((8)^0.5+(9)^0.5)
-1*1/((9)^0.5+(10)^0.5)
1*1/((10)^0.5+(11)^0.5)
-1*1/((11)^0.5+(12)^0.5)
1*1/((12)^0.5+(13)^0.5)
-1*1/((13)^0.5+(14)^0.5)
1*1/((14)^0.5+(15)^0.5)
-1*1/((15)^0.5+(16)^0.5)
1*1/((16)^0.5+(17)^0.5)
-1*1/((17)^0.5+(18)^0.5)
1*1/((18)^0.5+(19)^0.5)
-1*1/((19)^0.5+(20)^0.5)
1*1/((20)^0.5+(21)^0.5)
-1*1/((21)^0.5+(22)^0.5)
1*1/((22)^0.5+(23)^0.5)
-1*1/((23)^0.5+(24)^0.5)
1*1/((24)^0.5+(25)^0.5)
-1*1/((25)^0.5+(26)^0.5)
1*1/((26)^0.5+(27)^0.5)
-1*1/((27)^0.5+(28)^0.5)
1*1/((28)^0.5+(29)^0.5)
-1*1/((29)^0.5+(30)^0.5)
1*1/((30)^0.5+(31)^0.5)
-1*1/((31)^0.5+(32)^0.5)
1*1/((32)^0.5+(33)^0.5)
-1*1/((33)^0.5+(34)^0.5)
1*1/((34)^0.5+(35)^0.5)
-1*1/((35)^0.5+(36)^0.5)
1*1/((36)^0.5+(37)^0.5)
-1*1/((37)^0.5+(38)^0.5)
1*1/((38)^0.5+(39)^0.5)
-1*1/((39)^0.5+(40)^0.5)
1*1/((40)^0.5+(41)^0.5)
-1*1/((41)^0.5+(42)^0.5)
1*1/((42)^0.5+(43)^0.5)
-1*1/((43)^0.5+(44)^0.5)
1*1/((44)^0.5+(45)^0.5)
-1*1/((45)^0.5+(46)^0.5)
1*1/((46)^0.5+(47)^0.5)
-1*1/((47)^0.5+(48)^0.5)
1*1/((48)^0.5+(49)^0.5)
-1*1/((49)^0.5+(50)^0.5)
1*1/((50)^0.5+(51)^0.5)
-1*1/((51)^0.5+(52)^0.5)
1*1/((52)^0.5+(53)^0.5)
-1*1/((53)^0.5+(54)^0.5)
1*1/((54)^0.5+(55)^0.5)
-1*1/((55)^0.5+(56)^0.5)
1*1/((56)^0.5+(57)^0.5)
-1*1/((57)^0.5+(58)^0.5)
1*1/((58)^0.5+(59)^0.5)
-1*1/((59)^0.5+(60)^0.5)
1*1/((60)^0.5+(61)^0.5)
-1*1/((61)^0.5+(62)^0.5)
1*1/((62)^0.5+(63)^0.5)
-1*1/((63)^0.5+(64)^0.5)
1*1/((64)^0.5+(65)^0.5)
-1*1/((65)^0.5+(66)^0.5)
1*1/((66)^0.5+(67)^0.5)
-1*1/((67)^0.5+(68)^0.5)
1*1/((68)^0.5+(69)^0.5)
-1*1/((69)^0.5+(70)^0.5)
1*1/((70)^0.5+(71)^0.5)
-1*1/((71)^0.5+(72)^0.5)
1*1/((72)^0.5+(73)^0.5)
-1*1/((73)^0.5+(74)^0.5)
1*1/((74)^0.5+(75)^0.5)
-1*1/((75)^0.5+(76)^0.5)
1*1/((76)^0.5+(77)^0.5)
-1*1/((77)^0.5+(78)^0.5)
1*1/((78)^0.5+(79)^0.5)
-1*1/((79)^0.5+(80)^0.5)
1*1/((80)^0.5+(81)^0.5)
-1*1/((81)^0.5+(82)^0.5)
1*1/((82)^0.5+(83)^0.5)
-1*1/((83)^0.5+(84)^0.5)
1*1/((84)^0.5+(85)^0.5)
-1*1/((85)^0.5+(86)^0.5)
1*1/((86)^0.5+(87)^0.5)
-1*1/((87)^0.5+(88)^0.5)
1*1/((88)^0.5+(89)^0.5)
-1*1/((89)^0.5+(90)^0.5)
1*1/((90)^0.5+(91)^0.5)
-1*1/((91)^0.5+(92)^0.5)
1*1/((92)^0.5+(93)^0.5)
-1*1/((93)^0.5+(94)^0.5)
1*1/((94)^0.5+(95)^0.5)
-1*1/((95)^0.5+(96)^0.5)
1*1/((96)^0.5+(97)^0.5)
-1*1/((97)^0.5+(98)^0.5)
1*1/((98)^0.5+(99)^0.5)
-1*1/((99)^0.5+(100)^0.5)
1*1/((100)^0.5+(101)^0.5)
-1*1/((101)^0.5+(102)^0.5)
1*1/((102)^0.5+(103)^0.5)
-1*1/((103)^0.5+(104)^0.5)
1*1/((104)^0.5+(105)^0.5)
-1*1/((105)^0.5+(106)^0.5)
1*1/((106)^0.5+(107)^0.5)
-1*1/((107)^0.5+(108)^0.5)
1*1/((108)^0.5+(109)^0.5)
-1*1/((109)^0.5+(110)^0.5)
1*1/((110)^0.5+(111)^0.5)
-1*1/((111)^0.5+(112)^0.5)
1*1/((112)^0.5+(113)^0.5)
-1*1/((113)^0.5+(114)^0.5)
1*1/((114)^0.5+(115)^0.5)
-1*1/((115)^0.5+(116)^0.5)
1*1/((116)^0.5+(117)^0.5)
-1*1/((117)^0.5+(118)^0.5)
1*1/((118)^0.5+(119)^0.5)
-1*1/((119)^0.5+(120)^0.5)
1*1/((120)^0.5+(121)^0.5)
-1*1/((121)^0.5+(122)^0.5)
1*1/((122)^0.5+(123)^0.5)
-1*1/((123)^0.5+(124)^0.5)
1*1/((124)^0.5+(125)^0.5)
-1*1/((125)^0.5+(126)^0.5)
1*1/((126)^0.5+(127)^0.5)
-1*1/((127)^0.5+(128)^0.5)
1*1/((128)^0.5+(129)^0.5)
-1*1/((129)^0.5+(130)^0.5)
1*1/((130)^0.5+(131)^0.5)
-1*1/((131)^0.5+(132)^0.5)
1*1/((132)^0.5+(133)^0.5)
-1*1/((133)^0.5+(134)^0.5)
1*1/((134)^0.5+(135)^0.5)
-1*1/((135)^0.5+(136)^0.5)
1*1/((136)^0.5+(137)^0.5)
-1*1/((137)^0.5+(138)^0.5)
1*1/((138)^0.5+(139)^0.5)
-1*1/((139)^0.5+(140)^0.5)
1*1/((140)^0.5+(141)^0.5)
-1*1/((141)^0.5+(142)^0.5)
1*1/((142)^0.5+(143)^0.5)
-1*1/((143)^0.5+(144)^0.5)
1*1/((144)^0.5+(145)^0.5)
-1*1/((145)^0.5+(146)^0.5)
1*1/((146)^0.5+(147)^0.5)
-1*1/((147)^0.5+(148)^0.5)
1*1/((148)^0.5+(149)^0.5)
-1*1/((149)^0.5+(150)^0.5)
1*1/((150)^0.5+(151)^0.5)
-1*1/((151)^0.5+(152)^0.5)
1*1/((152)^0.5+(153)^0.5)
-1*1/((153)^0.5+(154)^0.5)
1*1/((154)^0.5+(155)^0.5)
-1*1/((155)^0.5+(156)^0.5)
1*1/((156)^0.5+(157)^0.5)
-1*1/((157)^0.5+(158)^0.5)
1*1/((158)^0.5+(159)^0.5)
-1*1/((159)^0.5+(160)^0.5)
1*1/((160)^0.5+(161)^0.5)
-1*1/((161)^0.5+(162)^0.5)
1*1/((162)^0.5+(163)^0.5)
-1*1/((163)^0.5+(164)^0.5)
1*1/((164)^0.5+(165)^0.5)
-1*1/((165)^0.5+(166)^0.5)
1*1/((166)^0.5+(167)^0.5)
-1*1/((167)^0.5+(168)^0.5)
1*1/((168)^0.5+(169)^0.5)
-1*1/((169)^0.5+(170)^0.5)
1*1/((170)^0.5+(171)^0.5)
-1*1/((171)^0.5+(172)^0.5)
1*1/((172)^0.5+(173)^0.5)
-1*1/((173)^0.5+(174)^0.5)
1*1/((174)^0.5+(175)^0.5)
-1*1/((175)^0.5+(176)^0.5)
1*1/((176)^0.5+(177)^0.5)
-1*1/((177)^0.5+(178)^0.5)
1*1/((178)^0.5+(179)^0.5)
-1*1/((179)^0.5+(180)^0.5)
1*1/((180)^0.5+(181)^0.5)
-1*1/((181)^0.5+(182)^0.5)
1*1/((182)^0.5+(183)^0.5)
-1*1/((183)^0.5+(184)^0.5)
1*1/((184)^0.5+(185)^0.5)
-1*1/((185)^0.5+(186)^0.5)
1*1/((186)^0.5+(187)^0.5)
-1*1/((187)^0.5+(188)^0.5)
1*1/((188)^0.5+(189)^0.5)
-1*1/((189)^0.5+(190)^0.5)
1*1/((190)^0.5+(191)^0.5)
-1*1/((191)^0.5+(192)^0.5)
1*1/((192)^0.5+(193)^0.5)
-1*1/((193)^0.5+(194)^0.5)
1*1/((194)^0.5+(195)^0.5)
-1*1/((195)^0.5+(196)^0.5)
1*1/((196)^0.5+(197)^0.5)
-1*1/((197)^0.5+(198)^0.5)
1*1/((198)^0.5+(199)^0.5)
-1*1/((199)^0.5+(200)^0.5)
1*1/((200)^0.5+(201)^0.5)
0.19205680071042858

In [54]:
#6-55
initial_fee=52800
year=0
while initial_fee<70000:
    initial_fee*=1.02
    year+=1
print ('需要%d年,學費達%.2f,第%d年學費為%.2f'%(year,initial_fee,year-1,initial_fee/1.02))

需要15年,學費達71061.85,第14年學費為69668.48

In [55]:
#6-55
n=0
for i in range(2001,2100):
    if (i%400==0) or((i%100!=0)&(i%4==0)):
        n+=1
        print('%d'%(i),end=" ")
        if (n)%5==0:
            print('\n')

2004 2008 2012 2016 2020

2024 2028 2032 2036 2040

2044 2048 2052 2056 2060

2064 2068 2072 2076 2080

2084 2088 2092 2096

In [ ]:
#6-55
print('1號候選人:苡凡, 2號候選人:果寧, 3號候選人:心塡','廢票:請輸入0')
result={}
result[1],result[2],result[3],result[0]=0,0,0,0
for i in range(10):
    num=input('輸入想要投給的候選人編號:')
    while True:
        try:
            num=eval(num)
            break
        except:
            print('叫你輸入編號,是看不懂人話484 =ˇ=" ')
            num=input('輸入想要投給的候選人編號:')
    result[num]+=1

values=list(result.values())
print(values)
values.sort(reverse=True)
if values[0]==values[1]:
    print('有平票問題')
else:
    print('%d號候選人當選'%(max(result,key=result.get)))

#6-55
import random as rd
random_num=[]
even_num=0
for i in range(100):
    random_num.append(rd.randint(100,200))
    if random_num[i]%2==0:
        even_num+=1
print('偶數有%d個,奇數有%d個'%(even_num,100-even_num))
print(random_num)

In [56]:
#6-55
total=0
n=1
while True:
    score=eval(input('第%d筆分數:'%(n)))
    if score==-1:
        break
    total+=score
    n+=1
print('平均分數為%.2f'%(total/(n-1)))

第1筆分數:45
第2筆分數:65
第3筆分數:78
第4筆分數:90
第5筆分數:65
第6筆分數:43
第7筆分數:32
第8筆分數:77
第9筆分數:-1
平均分數為61.88

In [57]:
#6-55
year1=eval(input('第1個年份:'))
year2=eval(input('第2個年份:'))
for i in range(year1,year2+1):
    if (i%400==0) or((i%100!=0)&(i%4==0)):
        print(i)

第1個年份:2001
第2個年份:2004
2004

In [58]:
#5-45
price=eval(input('Price='))
if price>=35000:
    price*=0.8
elif price>=25000:
    price*=0.85
elif price>=15000:
    price*=0.9
elif price>=5000:
    price*=0.95
    
print('實付金額為:%d'%(price))

Price=5000
實付金額為:4750

In [59]:
#5-45
month=eval(input('which month?(enter numbers)'))
if month in (1,2,3):
    print('Spring')
elif month in [4,5,6]:
    print('Summer')
elif month in [7,8,9]:
    print('Autumn')
else:
    print('Winter')

which month?(enter numbers)12
Winter

In [60]:
#5-45
Age=eval(input('Age='))
if Age>=60:
    price=399
elif Age>=18:
    price=890
elif Age>=12:
    price=790
elif Age>=6:
    price=590
    
print('票價為:%d'%(price))

Age=18
票價為:890

In [62]:
#5-45
num=eval(input('Number='))
if num%5==0 & num%3==0:
    print('3和5的倍數')
elif num%5==0:
    print('5的倍數')
elif num%3==0:
    print('3的倍數')
else:
    print('不為3或5的倍數')

Number=3
3的倍數

In [63]:
#5-45
tax=eval(input('income='))
if tax>=10310001:
    pay=tax*0.45-134510
elif tax>=4530001:
    pay=tax*0.40-829600
elif tax>=2420001:
    pay=tax*0.30-376600
elif tax>=1210001:
    pay=tax*0.20-134600
elif tax>=540001:
    pay=tax*0.12-37800
else:
    pay=tax*0.05

    
print('應課稅金額:%d'%(pay))

income=10000
應課稅金額:500

In [64]:
#5-46
x1=eval(input('x1='))
x2=0
y1=eval(input('y1='))
y2=0
d=((x1-x2)**2+(y1-y2)**2)**0.5
if d <=10:
    print(d)
    print('此點在圓内')
if d > 10:
    print(d)
    print('此點在圓外')

x1=2
y1=5
5.385164807134504
此點在圓内

In [65]:
#5-47
a=eval(input('a='))
b=eval(input('b='))
c=eval(input('c='))
d=eval(input('d='))
if a == d and b == c:
    print('此數為回文數字')
else:
    print('此數不爲回文數字')

a=1
b=2
c=2
d=1
此數為回文數字

In [66]:
#5-47
a=eval(input('a='))
b=eval(input('b='))
c=eval(input('c='))
if a+b>c and a+c>b and b+c>a :
    print(a+b+c)
else:
    print('此不爲三角形')

a=2
b=3
c=4
9

In [67]:
#5-47
day=0
question1='Is your birthday in set1?\n'+\
        '1 3 5 7\n'+\
        '9 11 13 15\n'+\
        '17 19 21 23\n'+\
        '25 27 29 31\n'+\
'\nEnter 1 for Yes and 0 for No:'
answer=eval(input(question1))

if answer == 1:
    day += 1
    
question2='Is your birthday in set2?\n'+\
        '2 3 6 7\n'+\
        '10 11 14 15\n'+\
        '18 19 22 23\n'+\
        '26 27 30 31\n'+\
        '\Enter 1 for Yes and 0 for No:'
answer=eval(input(question2))

if answer == 1:
    day+=2
    
question3='Is your birthday in set3?\n'+\
        '4 5 6 7 \n'+\
        '12 13 14 15\n'+\
        '20 21 22 23\n'+\
        '28 29 30 31\n'+\
        'n\Enter 1 for Yes and 0 for No:'
answer=eval(input(question3))

if answer == 3:
    day+=4
    
question4='Is your birthday in set4?\n'+\
        '8 9 10 11\n'+\
        '12 13 14 15\n'+\
        '24 25 26 27\n'+\
        '28 29 30 31\n'+\
        'n\Enter 1 for Yes and 0 for No:'
answer=eval(input(question4))

if answer == 1:
    day+=8

question5='Is your birthday in set5?\n'+\
        '16 17 18 19\n'+\
        '20 21 22 23\n'+\
        '24 25 26 27\n'+\
        '28 29 30 31\n'+\
        'n\Enter 1 for Yes and 0 for No:'
answer=eval(input(question5))

if answer == 1:
    day+=16
    
print('Your birthday is',day)

Is your birthday in set1?
1 3 5 7
9 11 13 15
17 19 21 23
25 27 29 31

Enter 1 for Yes and 0 for No:1
Is your birthday in set2?
2 3 6 7
10 11 14 15
18 19 22 23
26 27 30 31
\Enter 1 for Yes and 0 for No:1
Is your birthday in set3?
4 5 6 7
12 13 14 15
20 21 22 23
28 29 30 31
n\Enter 1 for Yes and 0 for No:1
Is your birthday in set4?
8 9 10 11
12 13 14 15
24 25 26 27
28 29 30 31
n\Enter 1 for Yes and 0 for No:1
Is your birthday in set5?
16 17 18 19
20 21 22 23
24 25 26 27
28 29 30 31
n\Enter 1 for Yes and 0 for No:1
Your birthday is 27